*{
    margin: 0; padding: 0;
}
nav a{
    text-decoration: none;
    font-size:20px ;
    margin-left: 70px;
 }
 header{
    background-color: rgb(90, 210, 15);
    height: 40px;
    padding: 20px;
 }